/*Arquivo CSS*/

body {
	font-size:2em;
	font-family:'Montserrat', sans-serif;
}
section {
	margin:auto;
	width:90%;
	
}

header {
	height:150px;
	width:100%;
	background:#DC143C;
}

aside {
	width:30%;
	height:700px;
	float:left;
	background:#B22222
}

main {
	width:70%;
	height:700px;
	float:right;
	background:#CD5C5C;
}

.titulo { 
	font-family:'Montserrat', sans-serif;
	font-size:1.5em;
	font-weight:300;
	margin-left:6%;
	padding-top:2%;
	color:#006400;
}

.texto {
	height:auto;
	width:40%;
	font-size:0.50em;
	margin-left:1%;
	display:table-cell;
}

.imagem {
	margin-left:1%;
	float:left;
}

section, header, aside, main, {
	border:solid 2px;
	border-radius:15px;
}


/*Media Queria com regras responsivas*/
/*Resolução máxima de 480px*/
@media screen and (max-width:480px) {
	header {width:auto}
	aside {width:auto; float:none;}
	main {float:underline; width:auto;}
}

/*Resolução máxima de 1279px*/
@media screen and (max-width:1279px) {
	section {width:90%;}
	main {width:70%;}
	aside {width:30%;}
	header {width:100%;}
}



	